#This file is managed by the Github Bootstrap workflow. Any modifications to this file may be overwritten.
#To make changes, please modify the terraform-github-easy-bootstrap module.

*.sh text eol=lf
*.tf text eol=lf
*.tpl text eol=lf
*.tftpl text eol=lf
*.yml text eol=lf